body {
  font-family: Roboto, sans-serif;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

body li {
  list-style-type: none;
}

body a {
  text-decoration: none;
}

.list {
  margin: 0px;
  padding: 0px;
}

.list p {
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 1px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 429px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1439px) {
  .container {
    width: 1440px;
  }
}

.container.title {
  padding-top: 112px;
  height: 432px;
  margin: auto auto;
  background-size: cover;
  background-position: center;
}

.container-margin {
  padding: 96px 0;
  margin: 0 auto;
}
@media screen and (max-width: 428px) {
  .container-margin {
    width: 428px;
  }
}
@media screen and (min-width: 429px) {
  .container-margin {
    width: 768px;
  }
}
@media screen and (min-width: 1439px) {
  .container-margin {
    width: 1440px;
    padding: 120px 156px;
  }
}

.container-margin.our-team {
  margin: 0 auto;
}
@media screen and (min-width: 0px) {
  .container-margin.our-team {
    padding: 96px 82px;
  }
}
@media screen and (min-width: 429px) {
  .container-margin.our-team {
    padding: 96px 108px;
  }
}
@media screen and (min-width: 1439px) {
  .container-margin.our-team {
    padding: 120px 156px;
  }
}

.container.font {
  padding-top: 24px;
  padding-bottom: 24px;
}

.container-margin.footer {
  background-color: #2e2f42;
  margin: 0 auto;
}
@media screen and (min-width: 0px) {
  .container-margin.footer {
    width: 428px;
    height: 664px;
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 429px) {
  .container-margin.footer {
    width: 768px;
    height: 456px;
    padding: 96px 108px;
  }
}
@media screen and (min-width: 1439px) {
  .container-margin.footer {
    width: 1440px;
    height: 312px;
    padding: 100px 156px;
  }
}

@media screen and (min-width: 429px) {
  .container-margin.customers .list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container-margin.universal {
  margin: 0 auto;
}
@media screen and (min-width: 429px) {
  .container-margin.universal {
    padding: 96px 16px;
  }
}
@media screen and (min-width: 1439px) {
  .container-margin.universal {
    padding: 0 156px;
    padding-top: 120px;
  }
}

.container-margin.universal .item {
  padding: 0px;
}
@media screen and (min-width: 1439px) {
  .container-margin.universal .item {
    width: 264px;
    height: 224px;
  }
}

.container-margin.customers {
  margin: 0 auto;
}

.container-margin.universal .container-margin.footer p {
  margin: 0px;
}

@media screen and (max-width: 428px) {
  .container-margin.customers {
    width: 428px;
    height: 712px;
  }
}
@media screen and (min-width: 429px) {
  .container-margin.customers {
    width: 768px;
    padding: 96px 108px;
  }
}
@media screen and (min-width: 1439px) {
  .container-margin.customers {
    width: 1440px;
    padding: 120px 156px;
  }
}

@media screen and (min-width: 0px) and (min-device-pixel-ratio: 1), screen and (min-width: 0px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 0px) and (min-resolution: 96dpi), screen and (min-width: 0px) and (min-resolution: 1dppx) {
  .container.title {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7))), url("../images/hero1x-428.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)), url("../images/hero1x-428.jpg");
  }
}
@media screen and (min-width: 0px) and (min-device-pixel-ratio: 2), screen and (min-width: 0px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 0px) and (min-resolution: 192dpi), screen and (min-width: 0px) and (min-resolution: 2dppx) {
  .container.title {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7))), url("../images/hero2x-428.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)), url("../images/hero2x-428.jpg");
  }
}
@media screen and (min-width: 429px) and (min-device-pixel-ratio: 1), screen and (min-width: 429px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 429px) and (min-resolution: 96dpi), screen and (min-width: 429px) and (min-resolution: 1dppx) {
  .container.title {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7))), url("../images/hero1x-768.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)), url("../images/hero1x-768.jpg");
  }
}
@media screen and (min-width: 429px) and (min-device-pixel-ratio: 2), screen and (min-width: 429px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 429px) and (min-resolution: 192dpi), screen and (min-width: 429px) and (min-resolution: 2dppx) {
  .container.title {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7))), url("../images/hero2x-768.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)), url("../images/hero2x-768.jpg");
  }
}
@media screen and (min-width: 1439px) {
  .container.title {
    padding: 188px 0;
    height: 100%;
  }
}
@media screen and (min-width: 1439px) and (min-width-pixel-ratio: 1), screen and (min-width: 1439px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 1439px) and (min-resolution: 96dpi), screen and (min-width: 1439px) and (min-resolution: 1dppx) {
  .container.title {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7))), url("../images/hero1x-1440.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)), url("../images/hero1x-1440.jpg");
  }
}
@media screen and (min-width: 1439px) {
  .container.title {
    padding: 180px 0;
    height: 100%;
  }
}
@media screen and (min-width: 1439px) and (min-width-pixel-ratio: 2), screen and (min-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1439px) and (min-resolution: 192dpi), screen and (min-width: 1439px) and (min-resolution: 2dppx) {
  .container.title {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7))), url("../images/hero2x-1440.jpg");
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)), url("../images/hero2x-1440.jpg");
  }
}

.content-portfolio .third-title {
  margin: 0px;
  margin-bottom: 8px;
}

.container-margin.footer .third-title {
  color: #ffffff;
}

.primary.title {
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 48px;
}
@media screen and (min-width: 0px) {
  .primary.title {
    width: 320px;
    height: 80px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 429px) {
  .primary.title {
    width: 496px;
    height: 120px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
}

.background .title {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.background {
  background-color: #2e2f42;
}

@media screen and (min-width: 0px) {
  .secondary-title {
    margin-bottom: 72px;
    margin-top: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
  }
}

.third-title {
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
@media screen and (min-width: 0px) {
  .third-title {
    font-size: 36px;
    text-align: center;
  }
}
@media screen and (min-width: 429px) {
  .third-title {
    text-align: start;
  }
}
@media screen and (min-width: 1439px) {
  .third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 8px;
  }
}

@media screen and (min-width: 0px) {
  .form-subscribe .forth-title {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;
    color: #ffffff;
  }
}
@media screen and (min-width: 429px) {
  .form-subscribe .forth-title {
    text-align: start;
  }
}

@media screen and (min-width: 429px) {
  .forth-title {
    margin-bottom: 16px;
    margin-top: 0px;
  }
}

.container-margin.universal .item {
  padding: 0px;
}

@media screen and (min-width: 0px) and (max-width: 1439px) {
  .item .icon-bcg {
    display: none;
  }
}

@media screen and (min-width: 429px) {
  .container-margin.universal .item:not(:nth-child(2n)),
  .list.our-team > .item:not(:nth-child(2n)) {
    margin-right: 24px;
  }
  .container-margin.universal .item:not(:nth-child(n+3)),
  .list.our-team > .item:not(:nth-child(n+3)) {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 429px) and (min-width: 1439px) {
  .container-margin.universal .item:not(:nth-child(2n)),
  .list.our-team > .item:not(:nth-child(2n)) {
    margin-right: 0px;
  }
  .container-margin.universal .item:not(:nth-child(n+3)),
  .list.our-team > .item:not(:nth-child(n+3)) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 0px) {
  .item .content {
    width: 396px;
    height: 96px;
    font-size: 16px;
  }
}
@media screen and (min-width: 429px) {
  .item .content {
    width: 356px;
    height: 120px;
  }
}
@media screen and (min-width: 1439px) {
  .item .content {
    width: 264px;
    height: 224px;
  }
}

@media screen and (max-width: 428px) {
  .item .content {
    margin-bottom: 72px;
  }
}
.item.technologies .content {
  margin-bottom: 0px;
}

.list.our-team > .item {
  width: 264px;
  height: 428px;
}

@media screen and (min-width: 0px) {
  .perspectives.group {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .perspectives.group {
    display: block;
  }
}

.perspectives.group .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1128px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 428px) {
  .container-margin.universal .list {
    margin: 0 16px;
  }
}
@media screen and (min-width: 429px) {
  .container-margin.universal .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1439px) {
  .container-margin.universal .list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1439px) {
  .content-text {
    letter-spacing: 0.019em;
  }
}

.link.current::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #404bbf;
  bottom: 0;
  right: 0;
  border-radius: 16px;
}
@media screen and (max-width: 428px) {
  .link.current::before {
    display: none;
  }
}

.WebStudio a:nth-child(2),
.help a,
.item > a {
  padding: 24px 0;
}

@media screen and (min-width: 0px) {
  .help {
    display: none;
  }
}
@media screen and (min-width: 429px) {
  .help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1439px) {
  .help {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

@media screen and (min-width: 429px) {
  .link-help {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-right: 16px;
    color: #434455;
  }
}
@media screen and (min-width: 1439px) {
  .link-help {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 429px) {
  .link-help.mail {
    padding-top: 16px;
    padding-bottom: 6px;
  }
}
@media screen and (min-width: 1439px) {
  .link-help.mail {
    padding: 24px 0;
    margin-right: 40px;
  }
}

@media screen and (min-width: 429px) {
  .link-help.telephone {
    padding-bottom: 16px;
    padding-top: 6px;
  }
}
@media screen and (min-width: 1439px) {
  .link-help.telephone {
    padding: 24px 0;
  }
}

.item .link.current {
  position: relative;
}

.nav .item:not(:last-child) {
  margin-right: 40px;
}
@media screen and (max-width: 428px) {
  .nav .item:not(:last-child) {
    margin-right: 0px;
  }
}

h2,
h3,
h5,
h6 {
  color: #2e2f42;
}

span.logo.web {
  color: #4d5ae5;
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

span.logo.studio {
  color: #2e2f42;
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  max-width: 484px;
  height: 584px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
}

.modal-button {
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid var(--border-custom);
  padding: 0px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-button:hover .modal-icon {
  fill: #ffffff;
}

.modal-button:hover {
  background-color: #4d5ae5;
}

.modal-form {
  width: 360px;
  margin: 0px 24px;
}

.modal-title {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 16px;
  background-attachment: fixed;
}

.label-text.policy {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
  margin-bottom: 0px;
  width: 338px;
  top: 55%;
  left: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-form label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgb(142, 143, 153);
}

.label-text {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
}

.modal-input {
  display: inline-block;
  position: relative;
  width: 360px;
  height: 58px;
  margin-bottom: 8px;
}

.modal-input.comment {
  margin-bottom: 16px;
}

.modal-input input[name=register] {
  position: relative;
  margin: 0;
  padding: 16px;
  padding-left: 38px;
  width: 360px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input textarea[name=register] {
  width: 360px;
  height: 120px;
  margin: 0;
  padding: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin: 0;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 360px;
  height: 16px;
  margin-bottom: 0px;
}

.modal-input textarea {
  resize: none;
}

.modal-input.comment {
  display: inline-block;
  height: 138px;
  width: 360px;
}

.modal-input .private-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
  text-decoration: underline;
  color: #4d5ae5;
  margin-bottom: 0px;
}

.modal-submit {
  display: block;
  border: 1px solid #ffffff;
  margin: 24px auto;
  width: 169px;
  height: 56px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input input[name=register]:focus,
.modal-input textarea[name=register]:focus,
.form-subscribe input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-input .checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-input .policy-icon {
  position: absolute;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  fill: #2e2f42;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .policy-icon {
  background-color: #404bbf;
  background-image: url("../images/galka.svg");
  background-position: center;
}

.input-icon.name {
  position: absolute;
  top: 65%;
  left: 16px;
  width: 18px;
  height: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input-icon.phone {
  position: absolute;
  top: 65%;
  left: 16px;
  width: 18px;
  height: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input-icon.mail {
  position: absolute;
  left: 16px;
  top: 65%;
  width: 18px;
  height: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-input .input-icon {
  fill: #2e2f42;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input input[name=register]:focus + .input-icon {
  fill: #4d5ae5;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 16px;
}
@media screen and (min-width: 0px) {
  .nav {
    width: 428px;
    height: 78px;
  }
}
@media screen and (min-width: 429px) {
  .nav {
    width: 768px;
    height: 72px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1439px) {
  .nav {
    width: 1440px;
    padding: 0px 156px;
  }
}

nav .link.current {
  color: #4d5ae5;
}

.nav .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.nav .link:hover,
.nav .link:focus,
.nav .link-help:hover,
.nav .link-help:focus {
  color: #4d5ae5;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav .navsec-navigation:hover,
nav .navsec-navigation:focus {
  color: #4d5ae5;
}

@media screen and (min-width: 0px) {
  .nav .list {
    display: none;
  }
}
@media screen and (min-width: 429px) {
  .nav .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px 0;
    margin-right: auto;
    margin-left: 120px;
  }
}

.icon-bcg .icon {
  width: 64px;
  height: 64px;
}

.content .icon-bcg {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  text-align: center;
}
@media screen and (min-width: 1439px) {
  .content .icon-bcg {
    padding: 24px 100px;
  }
}

.item .content-our-team {
  padding: 32px 16px;
}

@media screen and (min-width: 0px) {
  .item .group {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }
}

@media screen and (max-width: 428px) {
  .list.our-team > .item:not(:last-child) {
    min-width: 232px;
    margin: 72px 0;
  }
}

@media screen and (min-width: 429px) {
  .list.our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1439px) {
  .list.our-team {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 0px) {
  .forth-title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 0px) {
  .list.customers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 16px;
  }
}
@media screen and (min-width: 429px) {
  .list.customers {
    margin: 0 0;
  }
}
@media screen and (min-width: 1439px) {
  .list.customers {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.list.customers .icon {
  width: 41px;
  height: 46.97px;
}

@media screen and (min-width: 0px) {
  .list.customers > .item {
    text-align: center;
    width: 190px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }
}
@media screen and (min-width: 429px) {
  .list.customers > .item {
    width: 168px;
  }
}

@media screen and (max-width: 428px) {
  .list.customers > .item:not(:nth-child(n+5)) {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 1439px) {
  .list.customers > .item:not(:nth-child(n+3)) {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 428px) {
  .list.customers > .item:not(:nth-child(2n)) {
    margin-right: 16px;
  }
}
@media screen and (min-width: 0px) {
  .list.customers a {
    display: inline-block;
    text-align: center;
    width: 190px;
    height: 88px;
    padding: 20px;
  }
}
@media screen and (min-width: 429px) {
  .list.customers a {
    width: 168px;
  }
}

@media screen and (max-width: 428px) {
  footer .social-media {
    min-width: 208px;
    text-align: center;
    margin: 72px 0;
  }
}

.social-media .list {
  margin: 0 auto;
  width: 208px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media .item {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0px;
  background-color: #e7e9fc;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media .link {
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  padding: 0px;
}

.link .icon {
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.social-media .item:hover,
.social-media .item:focus {
  background-color: #4d5ae5;
}

.social-media .list {
  width: 232px;
}

.button {
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.background .button {
  text-align: center;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button.portfolio {
  background-color: #f4f4fd;
  color: #4d5ae5;
  border-color: #e7e9fc;
}

.button.order {
  display: block;
  margin: auto;
  border-color: #ffffff;
  top: 428px;
  left: 636px;
  gap: 10px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;
}

.button.portfolio:hover,
.button.portfolio:focus,
div .button.order:hover,
div .button.order:focus,
.modal-submit:hover,
.modal-submit:focus {
  background-color: #404bbf;
  color: #ffffff;
  border-color: #4d5ae5;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
  color: #ffffff;
  border-color: #4d5ae5;
}

@media screen and (min-width: 429px) {
  .mobile-burger {
    display: none;
  }
}

@media screen and (max-width: 428px) {
  .menu-container.js-menu-container.is-open {
    left: 0;
    pointer-events: all;
    position: fixed;
  }
}

@media screen and (max-width: 428px) {
  .menu-container.js-menu-container {
    padding-top: 74px;
    position: fixed;
    width: 100%;
    height: 796px;
    left: 428px;
    background-color: #ffffff;
    z-index: 3;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.0784313725);
            box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.0784313725);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.1607843137);
            box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.1607843137);
    -webkit-box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.0784313725);
            box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.0784313725);
    -webkit-transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
  }
}

@media screen and (max-width: 428px) {
  .social-media.mobile-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 328px;
    height: 40px;
    padding-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

@media screen and (max-width: 428px) {
  .mobile-menu .link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
}

@media screen and (max-width: 428px) {
  .mobile-menu .link.current {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
  }
}

@media screen and (max-width: 428px) {
  .mobile-menu .item:not(:nth-child(3n)) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 428px) {
  .mobile-menu .item:nth-child(3n) {
    margin-bottom: 284px;
  }
}

@media screen and (max-width: 428px) {
  .mobile-menu {
    margin: 0px;
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 428px) {
  .mobile-menu .item.link {
    display: inline-block;
  }
}

@media screen and (max-width: 428px) {
  .mobile-menu .link.mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 428px) {
  .js-open-menu {
    display: inline-block;
    width: 32px;
    height: 22px;
    border: none;
    margin-top: 24px;
    padding: 0;
    background-color: #ffffff;
    margin-left: 249px;
    cursor: pointer;
  }
}

@media screen and (max-width: 428px) {
  .js-close-menu {
    position: fixed;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    background-color: #e7e9fc;
    cursor: pointer;
    z-index: 4;
    right: 24px;
    top: 24px;
    border: 1px solid #2e2f42;
    border-radius: 50%;
    cursor: pointer;
  }
}

.js-open-menu[aria-expanded=true] {
  display: none;
}

.button-group .js-open-menu[aria-expanded=false] + .js-close-menu {
  display: none;
}

@media screen and (min-width: 0px) {
  .footer {
    color: #ffffff;
    margin: 0 auto;
    display: block;
  }
}
@media screen and (min-width: 429px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1439px) {
  .footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}

.our-team div.container-margin {
  background-color: #f4f4fd;
}

.container-margin.our-team .our-team > .item {
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 0px) {
  .WebStudio {
    padding: 24px 0px;
    display: inline-block;
  }
}

.icon {
  width: 32px;
  height: 22px;
}

.icon-vector {
  position: absolute;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container.header {
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #e7e9fc;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.0784313725);
          box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.0784313725);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.1607843137);
          box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.1607843137);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.0784313725);
          box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.0784313725);
}

@media screen and (min-width: 0px) {
  .WebStudio-footer .link-webstudio {
    margin-bottom: 16px;
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 429px) {
  .WebStudio-footer .link-webstudio {
    text-align: start;
  }
}

@media screen and (min-width: 429px) {
  .WebStudio-footer {
    width: 264px;
    height: 112px;
    margin-right: 24px;
  }
}
@media screen and (min-width: 1439px) {
  .WebStudio-footer {
    margin-right: 120px;
  }
}

.WebStudio-footer .text {
  margin: 0;
}
@media screen and (max-width: 428px) {
  .WebStudio-footer .text {
    margin: 0 auto;
  }
}

.WebStudio-footer .logo.studi {
  color: #f4f4fd;
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 428px) {
  .footer.text {
    width: 268px;
  }
}

@media screen and (min-width: 0px) {
  footer .form-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 429px) {
  footer .form-subscribe {
    margin-top: 72px;
  }
}
@media screen and (min-width: 1439px) {
  footer .form-subscribe {
    margin-top: 0px;
  }
}

footer .social-media .list {
  width: 208px;
}
@media screen and (min-width: 1439px) {
  footer .social-media .list {
    margin-right: 80px;
  }
}

.form-subscribe label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 0px) {
  .form-subscribe input {
    background-color: #2e2f42;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 398px;
    height: 40px;
    padding: 8px 16px;
    color: #ffffff;
  }
}
@media screen and (min-width: 429px) {
  .form-subscribe input {
    width: 264px;
  }
}

.form-subscribe input::-webkit-input-placeholder {
  color: #ffffff;
}

.form-subscribe input::-moz-placeholder {
  color: #ffffff;
}

.form-subscribe input:-ms-input-placeholder {
  color: #ffffff;
}

.form-subscribe input::-ms-input-placeholder {
  color: #ffffff;
}

.form-subscribe input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  width: 165px;
  height: 40px;
  cursor: pointer;
  padding: 8px 24px;
  position: relative;
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-position: 117px;
  text-align: start;
  border: 1px solid #ffffff;
  background-color: #2e2f42;
  border-radius: 4px;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 428px) {
  .subscribe-button {
    display: block;
    margin: 0 auto;
    margin-top: 16px;
  }
}
@media screen and (min-width: 429px) {
  .subscribe-button {
    position: absolute;
    top: 85%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 24px;
  }
}
@media screen and (min-width: 1439px) {
  .subscribe-button {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (min-width: 429px) {
  .subscribe {
    position: relative;
  }
}

.button.portfolio {
  background-color: #f4f4fd;
  color: #4d5ae5;
  border-color: #e7e9fc;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 0px) {
  .button.portfolio {
    padding: 8px 16px;
  }
}
@media screen and (min-width: 1439px) {
  .button.portfolio {
    padding: 12px 24px;
  }
}

@media screen and (min-width: 0px) {
  .link-portfolio {
    display: inline-block;
    width: 396px;
    height: 400px;
  }
}
@media screen and (min-width: 429px) {
  .link-portfolio {
    width: 356px;
    height: 420px;
  }
}
@media screen and (min-width: 1439px) {
  .link-portfolio {
    width: 360px;
  }
}

.link-portfolio:hover .overlay-img,
.link-portfolio:focus .overlay-img {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.container-margin.footer .third-title {
  color: #ffffff;
}

.container.portfolio {
  margin: 0 auto;
}
@media screen and (min-width: 0px) {
  .container.portfolio {
    width: 428px;
    padding: 48px 16px;
  }
}
@media screen and (min-width: 429px) {
  .container.portfolio {
    width: 768px;
    padding: 32px 91px;
  }
}
@media screen and (min-width: 1439px) {
  .container.portfolio {
    width: 1440px;
    padding-left: 156px;
    padding-right: 156px;
    padding-top: 96px;
    padding-bottom: 72px;
  }
}

@media screen and (min-width: 0px) {
  .container-margin.images {
    padding: 0 16px;
  }
}
@media screen and (min-width: 1439px) {
  .container-margin.images {
    padding: 0px 156px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1439px) {
  .container.portfolio .list {
    width: 1128px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content-portfolio .third-title {
  margin: 0px;
  margin-bottom: 8px;
}
@media screen and (min-width: 0px) {
  .content-portfolio .third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: start;
  }
}

@media screen and (min-width: 0px) {
  .content-portfolio {
    padding: 32px 0;
    padding-left: 16px;
  }
}

.content-portfolio > p {
  color: #434455;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 429px) {
  .list .item-button:not(:last-child) {
    margin-right: 23px;
  }
}

@media screen and (min-width: 0px) {
  .list .item-button {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .list > .img-wrap:not(:nth-child(2n)) {
    margin-right: 23px;
  }
}
@media screen and (min-width: 1439px) {
  .list > .img-wrap:not(:nth-child(3n)) {
    margin-right: 23px;
  }
  .list > .img-wrap:not(:nth-child(-n+6)) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 0px) {
  .list .img-wrap {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 429px) {
  .list .img-wrap:nth-child(1) .container-margin.images {
    padding: 0px 156px;
  }
}

@media screen and (min-width: 429px) {
  .img-portfolio .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1439px) {
  .img-portfolio .list {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1131px;
    min-height: 420px;
  }
}

@media screen and (min-width: 1439px) {
  .img-wrap .content-portfolio {
    padding: 32px 0px;
    padding-left: 16px;
  }
}

.img-wrap {
  border: 1px solid #e7e9fc;
  width: 396px;
  height: 400px;
}
@media screen and (min-width: 429px) {
  .img-wrap {
    width: 356px;
    height: 420px;
  }
}
@media screen and (min-width: 1439px) {
  .img-wrap {
    width: 360px;
  }
}

.img-wrap:hover {
  -webkit-box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.img-thumb {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 0px) {
  .img-thumb {
    height: 280px;
  }
}
@media screen and (min-width: 429px) {
  .img-thumb {
    width: 356px;
  }
}
@media screen and (min-width: 1439px) {
  .img-thumb {
    height: 300px;
    width: 360px;
  }
}

@media screen and (min-width: 0px) {
  .img-thumb img {
    width: 396px;
    height: 280px;
  }
}
@media screen and (min-width: 1439px) {
  .img-thumb img {
    width: 360px;
    height: 300px;
  }
}

.overlay-img {
  position: absolute;
  background-color: #4d5ae5;
  top: 100%;
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 0px) {
  .overlay-img {
    display: none;
  }
}
@media screen and (min-width: 1439px) {
  .overlay-img {
    display: block;
    width: 360px;
    height: 300px;
    padding: 32px;
  }
}/*# sourceMappingURL=main.css.map */