.container-margin.universal .list {
  @media screen and (max-width: 428px) {
    margin: 0 16px;
  }

  @media screen and (min-width: 429px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1439px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.content-text {
  @media screen and (min-width: 1439px) {
    letter-spacing: 0.019em;
  }
}
