.nav {
  display: flex;
  padding-left: 16px;
  @media screen and (min-width: 0px) {
    width: 428px;
    height: 78px;
  }
  @media screen and (min-width: 429px) {
    width: 768px;
    height: 72px;
    padding: 0 16px;
  }

  @media screen and (min-width: 1439px) {
    width: 1440px;
    padding: 0px 156px;
  }
}

nav .link.current {
  color: $web;
}

.nav .link {
  color: $primary-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.nav .link:hover,
.nav .link:focus,
.nav .link-help:hover,
.nav .link-help:focus {
  color: $web;
  transition: color 250ms $animation-cubic;
}

nav .navsec-navigation:hover,
nav .navsec-navigation:focus {
  color: $web;
}

.nav .list {
  @media screen and (min-width: 0px) {
    display: none;
  }
  @media screen and (min-width: 429px) {
    display: flex;
    padding: 24px 0;
    margin-right: auto;
    margin-left: 120px;
  }
}
