.icon-bcg .icon {
  width: 64px;
  height: 64px;
}

.content .icon-bcg {
  width: 264px;
  height: 112px;
  background-color: $bg-secondary;
  text-align: center;

  @media screen and (min-width: 1439px) {
    padding: 24px 100px;
  }
}
