.perspectives.group {
  @media screen and (min-width: 0px) {
    display: none;
  }

  @media screen and (min-width: 1440px) {
    display: block;
  }
}

.perspectives.group .list {
  display: flex;
  width: 1128px;
  justify-content: space-between;
}
