.item .content-our-team {
  padding: 32px 16px;
}

.item .group {
  @media screen and (min-width: 0px) {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }
}

.list.our-team > .item:not(:last-child) {
  @media screen and (max-width: 428px) {
    min-width: 232px;
    margin: 72px 0;
  }
}

.list.our-team {
  @media screen and (min-width: 429px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1439px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.forth-title-team {
  @media screen and (min-width: 0px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: $primary-color;
    margin-bottom: 8px;
    margin-top: 0px;
  }
}
