$primary-color: #2e2f42;
$web: #4d5ae5;
$body-color: #434455;
$white-color: #ffffff;
$button-portfolio: #404bbf;
$bg-secondary: #f4f4fd;
$but-border: #e7e9fc;
$border-custom: #8e8f99;
$modal-label-color: rgba(142, 143, 153, 1);
$modal-label-bcg: rgba(46, 47, 66, 0.4);
$animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
